@use "src/styles/colors";
@use "src/styles/fonts";

.button {
  margin-top: 2rem;
  border: none;
  border-radius: 11px;
  width: 100%;
  padding: 0.6em;

  background: none;
  background-color: colors.$primary;
  cursor: pointer;

  font-size: 1.8rem;
  font-weight: fonts.$fw-semibold;
  color: colors.$achromatic-0;
}
