@use "src/styles/colors";
@use "src/styles/fonts";

.profilesContainer {
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.imageLinkLine {
  position: absolute;
  top: 5rem;
  left: 25%;
  right: 25%;

  border-top: 1px solid colors.$achromatic-40;
}

.imageLinkIcon {
  $font-size: 0.6rem;

  position: absolute;
  z-index: 2;
  top: calc(5rem - $font-size * 2);
  left: calc(50% - $font-size * 2);

  font-size: $font-size;
}
