@use "src/styles/colors";
@use "src/styles/fonts";

.imgWrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 0.04em;

  font-size: 20rem;
}

.nodeId {
  font-size: 1.6rem;
  text-align: center;
  color: colors.$achromatic-70;
}

.title {
  margin: 0.2em;

  font-size: 3rem;
  font-weight: fonts.$fw-bold;
  text-align: center;
  color: colors.$primary;
}

.linkCountWrapper {
  font-size: 2rem;
}
