@use "src/styles/colors";
@use "src/styles/fonts";

.button {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 0.6em;
  border: none;
  border-radius: 5px;
  width: 100%;
  padding: 1em 0.8em;

  background-color: colors.$achromatic-13;
  cursor: pointer;

  font-size: 1.4rem;
  color: colors.$achromatic-70;

  &:hover {
    background-color: colors.$achromatic-15;
  }

  > svg {
    width: 1.4em;
    height: 1.4em;
  }

  > span {
    margin-left: 0.6em;
    width: 100%;

    font-size: 1.2rem;
    font-weight: fonts.$fw-semibold;
    text-align: left;
  }
}

.modal {
  display: flex;
  flex-direction: column;
  gap: 0.3em;

  > input {
    border: none;
    border-radius: 5px;
    outline: none;
    padding: 0.5em;

    background-color: colors.$achromatic-15;

    font-size: 1.6rem;

    &::placeholder {
      color: colors.$achromatic-70;
      opacity: 50%;
    }
  }
}
