$achromatic-0: #ffffff;
$achromatic-10: #f8f8f8;
$achromatic-13: #f4f4f4;
$achromatic-15: #f0f0f0;
$achromatic-20: #dadada;
$achromatic-40: #b7b7b7;
$achromatic-70: #8a8a8a;
$achromatic-80: #6f6f6f;
$achromatic-90: #4d4d4d;
$achromatic-100: #2e2e2e;

$primary: #1f4898;
$secondary: #2797d9;
