@use "src/styles/colors";

$card-margin: 2em;
$card-shadow: #00000040 0 0.1em 0.1em, #00000040 0 0.2em 0.8em,
  #ffffff1a 0 0 0 1px inset;
$card-border-radius: 11px;
$card-header-padding: 1em;
$card-main-padding: 1.5em;

$card-header-icon-size: 2.4rem;

.card {
  position: fixed;

  display: flex;
  flex-direction: column;

  overflow: hidden;

  box-shadow: $card-shadow;

  background-color: colors.$achromatic-0;
}

.cardRight {
  top: $card-margin;
  bottom: $card-margin;
  right: $card-margin;

  border-radius: $card-border-radius;
  width: clamp(300px, 30%, 400px);
}

.cardBottom {
  bottom: 0;
  left: 0;
  right: 0;

  border-radius: $card-border-radius $card-border-radius 0 0;
  height: clamp(300px, 50%, 500px);
}

.cardBottom::after {
  content: "";

  position: absolute;
  top: 100%;
  left: 0;
  right: 0;

  height: 100%;

  background-color: inherit;
}

.cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: $card-header-padding;

  svg {
    cursor: pointer;

    width: $card-header-icon-size;
    height: $card-header-icon-size;

    color: colors.$achromatic-20;

    &:hover {
      color: colors.$achromatic-40;
    }
  }
}

.cardMain {
  overflow-y: scroll;

  height: 100%;
  padding: 0 $card-main-padding $card-main-padding $card-main-padding;
}
