@use "src/styles/colors";
@use "src/styles/fonts";

.entry {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;

  padding: 0.6em 0.2em;

  cursor: pointer;

  > svg {
    width: 2.4rem;
    height: 2.4rem;

    color: colors.$achromatic-40;
  }
}

.entry:hover {
  background-color: colors.$achromatic-10;
}

.detailsContainer {
  display: flex;
  flex-direction: column;

  overflow: hidden;

  width: 100%;

  > div {
    display: flex;
    align-items: center;
    gap: 0.1em;
  }
}

.title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  width: 100%;
  font-weight: fonts.$fw-semibold;
}

.description {
  display: -webkit-box;

  overflow: hidden;
  text-overflow: ellipsis;

  width: 100%;

  font-size: 1.2rem;
  color: colors.$achromatic-70;

  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
