@use "src/styles/colors";
@use "src/styles/fonts";

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tag {
  font-size: 1.4rem;
  color: colors.$achromatic-70;
}

.value {
  font-size: 1.5rem;
  font-weight: fonts.$fw-semibold;
  text-align: end;
  color: colors.$achromatic-90;
}
