@use "src/styles/colors";
@use "src/styles/fonts";

.entry {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
}

.detailsContainer {
  overflow: hidden;

  width: 100%;

  > div {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.nodeId {
  font-size: 1.6rem;
  color: colors.$achromatic-70;
}

.title {
  font-size: 2rem;
  font-weight: fonts.$fw-bold;
  color: colors.$primary;
}

.linkCountWrapper {
  font-size: 2rem;
}
