@use "src/styles/colors";
@use "src/styles/fonts";

.entry {
  display: flex;
  align-items: center;
  gap: 1rem;

  padding: 0.2em 0.2em;

  > svg {
    width: 2.4rem;
    height: 2.4rem;

    color: colors.$achromatic-40;
  }
}

.entry:hover {
  background-color: colors.$achromatic-10;
}

.iconWrapper {
  font-size: 1rem;
}

.detailsContainer {
  display: flex;
  flex-direction: column;

  overflow: hidden;
  white-space: nowrap;

  width: 100%;

  > span {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.url {
  font-size: 1.2rem;
  color: colors.$achromatic-70;
}

.title {
  font-size: 1.6rem;
  font-weight: fonts.$fw-semibold;
  color: colors.$achromatic-90;
}
